[Unit]
Description=Detection Service
After=relay.service
Requires=relay.service

[Service]
Type=simple
User=pooya
WorkingDirectory=/home/pooya/embproj/proj/src/detection
ExecStart=/usr/local/bin/detection_server
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target