[Unit]
Description=MJPEG Relay Service
After=network.target

[Service]
Type=simple
User=pooya
WorkingDirectory=/home/pooya/embproj/proj/src/relay
ExecStart=/usr/local/bin/security_relay
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target