[Unit]
Description=FastAPI Swagger Service
After=network.target server.service
Requires=server.service

[Service]
Type=simple
User=pooya
WorkingDirectory=/home/pooya/embproj/proj/src/api
ExecStart=/usr/bin/python3 /home/pooya/embproj/proj/src/api/swagger.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target