[Unit]
Description=Embedded Web Server
After=network.target camera.service
Requires=camera.service

[Service]
ExecStart=/usr/local/bin/server
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
 
